html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F1E6;
    font-family: "Open Sans", serif;
}

nav {
    padding: 22px 0 22px 0;
    width: 85vw;
    margin: auto;

    margin-bottom: 32px;

    display: flex;
    justify-content: space-between;
}

nav a {
    font-family: "Nunito", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    color: #15272F;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-left: 56px;
}

nav>ul>li {
    display: inline;
}

header {
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: flex-end;
}

article {
    width: 50%;
    margin-right: 32px;
}


article>p:not(:last-child) {
    margin-bottom: 16px;
}

p {
    line-height: 24px;
}

h1 {
    font-family: "Nunito", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

h2 {
    font-family: "Nunito", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


h3 {
    font-family: "Nunito", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
}

#profile-img {
    max-width: 362px;
    max-height: 480px;
}

#title {
    display: flex;
    justify-content: center;
    text-align: right;
    padding-bottom: 68px;
}

strong {
    font-weight: 700;
}

#badges {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    margin: auto;
}

.badge {
    max-width: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.badge>img {
    margin-bottom: 16px;
}

section {
    width: 80vw;
    margin: auto;
    margin-bottom: 32px;
}

em {
    display: block;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 8px;
}

section>h3 {
    text-align: center;
    margin: 32px 0 32px 0;
}

.project {
    display: flex;
    border-radius: 16px;
    background-color: #FFFBF3;
    padding: 32px 64px 32px 64px;
    margin-bottom: 24px;
    transition: 0.3s;
}

.project>div {
    padding-top: 32px;
    padding-left: 16px;
}

.project>img {
    max-width: 458px;
}

.project-title {
    border-bottom: 1px solid black;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.project-btn {
    background-color: #c9d9d8;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    float: right;
}

.project-btn:hover {
    transition: 0.3s;
    background-color: #15272F;
}

footer {
    display: flex;
    background-color: #15272F;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 56px 0 32px 0;
}

footer>h3 {
    margin-bottom: 24px;
}

#footer_contact {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

#footer_contact>* {
    margin-right: 16px;
}